body{
    margin: 0;
    background: yellowgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.card{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    align-self: auto;

    
}

.card h3{
    margin: 10px 0 0 5px;
    font-size: 20px;
}

.price{
    color: green;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 10px;
}
footer{
    text-align: center;
    padding: 10px;
    background: grey;
    color: white;
}