.body{
    font-family: Arial,  sans-serif;
    font-size: 16px;
    padding: 20px;

}
.grid{
    display: grid;
    grid-template-columns: 5em 100px 30%;
    width: 800px;
    gap: 10px;
    border: 2px  black;
}
.grid div{
    background: blue;
    border-radius: 6px;
    padding: 20px 0;
    text-align: center;
    color: white;
}
